html {
    box-sizing: border-box;
    font-size: 10px;
    background: #ffc600;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 6px;
}

h1 {
    text-align: center;
    font-size: 11rem;
    line-height: 1;
    margin-bottom: -400px;
    margin-top: 30px;
    margin-left: 100px;
    animation: fade-in-down ease 3.7s forwards;
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translateY(-55px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(55px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-45px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(45px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.score {
    background: rgba(255, 255, 255, 0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
}

.game {
    width: 650px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    margin: -150px auto;
    margin-bottom: 50px;
    animation: fade-in-up ease 3.7s forwards;
}


.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('mole.svg') bottom center no-repeat;
    background-size: 50%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.mole:hover {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.hole.up .mole {
    top: 0;
}

.pow {
    background: url("pow.jpg");
    display: none;
    background-size: 100%;
    position: absolute;
    top: 45%;
    height: 20%;
    width: 80px;
    z-index: 1;
    margin-top: -90px;
    margin-left: 710px;
    opacity: 0.5;
}

.bonk {
    background: url("bonk.jpg");
    display: none;
    background-size: 100%;
    position: absolute;
    top: 65%;
    height: 17%;
    width: 120px;
    z-index: 1;
    margin-left: 450px;
    opacity: 0.7;
}

.boom {
    background: url("boom.jpg");
    display: none;
    background-size: 100%;
    position: absolute;
    top: 30%;
    height: 13%;
    width: 120px;
    z-index: 1;
    margin-left: 450px;
    opacity: 0.9;
}

.bam {
    background: url("bam.jpg");
    display: none;
    background-size: 100%;
    position: absolute;
    top: 60%;
    height: 18.4%;
    width: 160px;
    z-index: 1;
    margin-left: 950px;
}

#level {
    margin: -80px 77%;
    font-size: 20px;
    font-weight: 900;
}

.selected {
    background-color: #6482A9 !important;
    color: black !important;
    font-weight: 800;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 15%;
    letter-spacing: 2px;
    font-size: 2em;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
    margin-left: 600px;
    margin-top: 0px;
    margin-bottom: 50px;
    z-index: 1;
    animation: fade-in-left ease 2.7s forwards;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
    color: black;
}

.btn:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

#button {
    border: none;
    background: none;
    font-weight: 700;
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    --webkit-tranition: all 0.3s;
    --moz-tranition: all 0.3s;
    outline: none;
    cursor: pointer;
    animation: fade-in-right ease 2.7s forwards;
}

#button:hover {
    color: black;
}

.dropdown {
    height: 100%;
    position: relative;
    display: inline-block;
    font-size: 22px;
    margin: auto 120px;
    margin-top: 470px;
    width: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 130px;
    border-radius: 20%;
    font-size: 18px;
}

.dropdown-content button {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    background-color: #CB4E4E;
    font-size: 18px;
    border: none;
    color: white;
    display: block;
    width: 100%;
    cursor: pointer;
    height: 33%;
    margin-bottom: -22px;
    letter-spacing: 1px;
}

.dropdown-content button:hover {
    background-color: #6482A9;
    color: black;
    font-size: 22px;
    font-weight: 800;
}

.show {
    display: block;
}

footer {
    text-align: center;
    font-size: 16px;
    font-family: 'Cabin Sketch', cursive;
    bottom: 0;
    clear: both;
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    margin-top: 50px;
}

.signature {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.6);
    letter-spacing: 2px;
}